img {
    width: auto;
    image-orientation: flip;
}   

body {
    text-align: center;
    font-family: "Helvetica";
    background: bisque;
    
}

@keyframes colorCycle {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

/* 2. Apply it to your image */
.changing-image {
  animation: colorCycle 3s linear infinite;
}
